$color_1: white;
$color_2: #7c8798;
$color_3: #fb7413;
$font-family_1: Overpass, sans-serif;
$background-color_1: black;
$background-color_2: #121417;
$background-color_3: #252d37;

* {
	padding: 0;
	margin: 0;
	font-family: $font-family_1;
}
.home_div {
	width: 100%;
	background-color: $background-color_1;
	display: flex;
	justify-content: center;
	align-items: center;
}
.home_rating_card {
	border-radius: 1rem;
	padding: 1.8rem 1.5rem;
	box-shadow: 0 0 2px 1px rgb(0 0 0 / 20%);
	width: 360px;
	height: 340px;
	color: $color_1;
	background-image: radial-gradient(farthest-side at 50% -10%,#222933,#1d242e,#181e28);
}
.home_Star_star {
	width: 2.5rem;
	height: 2.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $background-color_2;
	border-radius: 50%;
	box-shadow: 0 0 2px 1.7px rgb(0 0 0 / 10%);
}
.home_title {
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
}
.maindiv {
	padding: 0.2rem;
	background-color: $background-color_1;
}
.home_card_inner_div {
	display: flex;
	flex-direction: column;
	gap: 1.7rem;
	max-width: 21rem;
}
.home_rating_div {
	display: flex;
	width: 100%;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
}
.home_label {
	display: flex;
	width: 3rem;
	height: 3rem;
	position: relative;
}
.home_label_radio {
	width: 100%;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	z-index: 2;
}
.home_rating_radio_span {
	background-color: $background-color_3;
	border-radius: 50%;
	width: 100%;
	height: 100%;
	display: flex;
	position: absolute;
	z-index: 1;
	justify-content: center;
	align-items: center;
	color: $color_2;
	user-select: none;
	cursor: pointer;
}
.home_submit_button {
	border: 0;
	width: 100%;
	border-radius: 2rem;
	padding: 0.8rem 1.7rem;
	text-transform: uppercase;
	font-weight: 700;
	transition: transform .2s;
	letter-spacing: .1rem;
}
.rating_comp_main_div {
	border-radius: 1rem;
	background-image: radial-gradient(farthest-side at 50% -10%, #222933, #1d242e, #181e28);
	padding: 1.8rem 1.5rem;
	box-shadow: 0 0 2px 1px rgb(0 0 0 / 20%);
	width: 310px;
	height: 310px;
}
.rating_comp_main {
	display: flex;
	justify-content: center;
	align-items: center;
}
.rating_ShowRating {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1.7rem;
	max-width: 18rem;
}
.rating_ShowRating_capsule {
	border-radius: 2rem;
	background-color: $background-color_3;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	padding: 0.5rem 0.7rem 0.3rem;
	color: $color_3;
	display: flex;
	justify-content: center;
	align-items: center;
}
.rating_ShowRating_thank {
	display: flex;
	flex-direction: column;
	gap: 0.6rem;
	margin-bottom: 0.2rem;
}
.rating_h2 {
	color: $color_1;
	text-align: center;
}
.rating_p {
	color: $color_2;
	text-align: center;
	font-size: 93.75%;
}
.home_p {
	color: $color_2;
	font-size: 93.75%;
}
